.header {
  padding: 1rem;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  margin-right: auto;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  color: #00e0b8; /* fun accent color */
  transform: scale(1.1);
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  justify-items: center;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  justify-self: center;
}

.link:hover {
  color: #00e0b8; /* fun accent color */
  transform: scale(1.1);
}

.icon {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
  justify-self: center;
  text-decoration: none;
}

.icon:hover {
  color: #00e0b8; /* fun accent color */
  transform: scale(1.1);
}

/* Mobile styles */
@media (max-width: 768px) {
  .menuButton {
    display: block;
    z-index: 2;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #444;
    padding: 1rem;
    gap: 1rem;
  }

  .nav.open {
    display: flex;
  }

  .icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
